<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header>
        {{> menu}}
       
    </header>

    <section class="card">
        <h2>Tarjeta de Ejemplo</h2>
        <p>Este es el contenido de la tarjeta.</p>
    </section>

    <script src="/js/scripts.js"></script>
</body>

</html>