<div class="contenido">
  <div class="com1">
    <img src="{{lead.[0].image.src}}" alt="{{pageLead.[0].alt}}">

  </div>
  <div class="com2">
    <div class="headline">
      <h1>{{headline}}</h1>
    </div>
    <div class="subheadllne ">
       <h6>{{subHeadline}}</h6>
    </div>
    <div class="audio">
      audio
    </div>
    <div class="actions">
      action
    </div>
  </div>
</div>  