@import "./css/menu.less";
@import "./css/hotTopics.less";
@import "./css/pageLead.less";
@import "./css/breadcrumbs.less";
@import "./css/lead.less";


.parent {
    display: grid;
    grid-template-rows: 10% auto auto auto 1fr; 
    grid-template-columns: 100%; 
    height: 100vh; 
}

.menu-h {
    padding: 10px;
}   


.hotTopics {
    padding: 10px;
    background-color: rgb(51, 51, 212);
}


.pageLead {
    width: 100%;
    background-color: #f1f1f1;
}

.breadcrumbs{
    padding: 10px;
}

.lead{
    padding: 10px;
}





@media screen and (max-width: 870px) {
    .parent {
        display: grid;
        grid-template-rows: 10% auto auto auto 1fr;
        grid-template-columns: 100%;
        height: 100vh; 
    }
}

@media screen and (max-width: 480px) {
    .parent {
        display: grid;
        grid-template-rows: 10% auto auto auto 1fr; 
        grid-template-columns: 100%;
        height: 100vh; 
    }
}
